<html>
    <head>
        <title> Thimira Wijepala </title>
        <meta charset="UTF-8">
        <meta name="description" content="Stock Updater">
        
        <meta name="author" content="Thimira Wijepala">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="./styles.css">
    </head>
    
    <body>
        <h1>Stock Tracker</h1>
        <form action="/" method="post">
            <input type="text" placeholder="Stock Name" name="stockAdd">
            <button type="submit">Add</button>
        </form>
        <h3>Your List of Stocks</h3>

        
        <% for (const [key, value] of Object.entries(data)) { %>
            <p><%= value %></p>
          <% } %>
        <!-- <p id="data"></p> -->
        <!-- <script type="text/javascript" src="../src/index.js">main()</script> -->
        <form action="/" method="post">
            <input type="text" placeholder="Stock Name" name="stockDelete">
            <button type="submit">Delete</button>
        </form>
</html>