<html>
    <head>
        <title> Thimira Wijepala </title>
        <meta charset="UTF-8">
        <meta name="description" content="Stock Updater">
        
        <meta name="author" content="Thimira Wijepala">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="stylesheets/styles.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    </head>
    
    <body>
        <h1>Stock Tracker</h1>

        <form action="/" method="post">
            <input type="text" placeholder="Stock Name" name="stockAdd">
            <button type="submit">Add Stock</button>
        </form>

        <form action="/" method="post">
            <input type="text" placeholder="Stock Name" name="stockDelete">
            <button type="submit">Delete Stock</button>
        </form>

        <h3>Your List of Stocks:</h3>

        <ul class="stockList">
            <% for (const [key, value] of Object.entries(data)) { %>
                <div id="<%= key %>" class="stockItem">
                    <button class="close-button" aria-label="Close alert" type="button">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    
                    <h3><%= key.substr(-4,4) %> </h3>
                    
                    <p><%= value %></p>
                    <form action='<%= key %>' method="get" target="_blank">
                        For more info: <button type="submit"><%= '('+key.substr(-4,4)+')' %></button>
                    </form> <br>
                </div>
            <% } %>
        </ul>
        
        <script>
            var closebtns = document.getElementsByClassName("close-button");
            var i;
            for(i = 0; i < closebtns.length; i++) {
                closebtns[i].addEventListener("click", function() {
                    this.parentElement.remove();
                });
            }
        </script>
        
</html>