body {
    max-width:80%;
    margin: auto;
    text-align: center;
}

.stockList {
    list-style-type: none;
    align-items: center;
}

.stockItem {
    width: 25%;
    padding: 5px;
    margin: 2%;
    display:inline-block;
    border: 3px solid gray;
    box-shadow: 5px 5px 2px gray;
  }

.pos {
    color: green
}

.neg {
    color:red
}

.close-button {
    float: right;
}

.close:checked {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
